/*
red: #e01e3c;
black: #161616;
white: #ffffff;

font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif;
 */

 /* * * * * * * * * * * * * * * * * * * *
Genernal styles
 * * * * * * * * * * * * * * * * * * * */


h1, h2, h3{
     font-family: 'Nunito Sans', sans-serif;
}
h1{
    font-size: 70px;
    font-weight: 700;
}
h2{
    font-size: 50px;
    font-weight: 700;
}
h3{
    font-size: 36px;
    font-weight: 700;
}

p{
     font-family: sans-serif;
}

button{
     font-family: 'Oswald', sans-serif;
     font-size: 12px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Genernal Header styles (both for desktop & mobile)
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

header{
    height: 80px;
    background-color: #161616;
    padding-top: 20px;
}
header .logo{
    background-image: url("../beats-assets/img/logo.svg");
    height: 40px;
    width: 40px;
    background-size: 40px;
}


/* desktop-nav */

.desktop-nav ul{
    float: right;
    margin-top: 10px;
    padding: 0;
    width: calc(100% - 60px);
    text-align: right;
}
.desktop-nav li{
    display: inline-block;
    margin-left: 25px;
}
.desktop-nav a,
.desktop-nav a:visited {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
    color: #ffffff;
    opacity: 0.9;
    text-decoration: none;
}

.desktop-nav .logo{
    float: left;
}


/* mobile-nav */

.mobile-nav{
    display: none;
    text-align: center;
}
.mobile-nav .logo{
    display: inline-block;
}
.mobile-nav .hamburger-container,
.mobile-nav .search-container{
    vertical-align: top;
    width: 40px;
    display: inline-block;
    margin-top: 8px;
    margin-left: -4px;
}
.mobile-nav .logo-container{
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 80px);
}
.mobile-nav button{
    background: transparent;
    border: none;
    color: #ffffff;
}


@media (max-width: 768px) {
    .mobile-nav{
        display: block;
    }
    .desktop-nav{
        display: none;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Hero styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.hero{
    height: 400px;
    background-color: #999;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Product-Lineup
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.product-lineup-container{
    height: 400px;
    background-color: #333;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Featured-product
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.featured-product-container{
    height: 400px;
    background-color: #444;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Product-Support
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.product-suppport-container{
    height: 400px;
    background-color: #555;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Subscription-Container
* * * * * * * * * * * * * * * * * * * * * * * * * * * */

.subscription-container{
    height: 400px;
    background-color: #666;
}

footer{
    height: 400px;
    background-color: #161616;
}
